<h1><%= @machine.location %> Vending Machine</h1>

Snacks
  <% @machine.snacks.each do |snack| %>
    <%= snack.name %>
    <%= number_to_currency(snack.price) %>
    <br>
    <br>
    Average Snack Price: <%= number_to_currency(@machine.average_price) %>
  <% end %>